.text {
    display: grid;
    gap: 10px;

    h2 {
        font-size: var(--size-subtitle-small);
        padding-bottom: 10px;   
        padding-top: 20px;
        font-weight: var(--font-medium);

        &:first-child {
            padding-top: 0;
        }
    }

    p {
        font-size: var(--size-normal);
    }
}